<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Nicholas Park</title>
    <!-- <link rel="stylesheet" href="/css/bootstrap.min.css"> -->
    <!-- <link rel="stylesheet" type="text/css" href="styles.css"> -->
  </head>
  <body>

    {{{body}}}

    <!-- <script src="/js/jquery.min.js"></script> -->
    <!-- <script src="/js/bootstrap.min.js"></script> -->
  </body>
</html>
