<div class="container">
  <div class="title-container">
    <div class="title"> About Me </div>
  </div>
  <div class="body">
    <div>
      <p>
        I'm a third year mathematics student at UC Berkeley.
        My mathematical interests include functional analysis, category theory, and smooth manifolds.
        Aside from that, I play guitar and chess. My username on <a href="\\www.chess.com">chess.com</a> is nicksspark, and in September 2018 I achieved my max bullet rating of 1933.
        I have experience with web development, in particular React-Redux, as well as machine learning.
      </p>
    </div>
    <div class="bottom">
      <a href="/"> Home </a>
    </div>
  </div>
</div>
