<div class="container">
  <div class="title-container">
    <div class="title">
      Brouwer fixed-point theorem
    </div>
  </div>
  <div class="body">
    <div>
      <p>
        <b>Theorem:</b>
        Every continuous map from a closed n-ball in Euclidean space to itself has a fixed point.
      </p>
    </div>
    <div class="bottom">
      <a href="/"> Home </a>
    </div>
  </div>
</div>
