<h1> A characterization of continuity in a metric space </h1>
<p>
  Perhaps you are familiar with the usual epsilon-delta definition of continuity in a metric space:
  a real-valued function f is continuous if for all real x and for every positive epsilon there exists a positive delta such that
  for all real w, |x - w| < delta implies that |f(x) - f(w)| < epsilon. But there is an equivalent, more general definition ...
</p>

<a href="/"> Home </a>
