<div>
  <h1> A characterization of continuity in a metric space </h1>
  <p>
    Perhaps you are familiar with the usual epsilon-delta definition of continuity in a metric space:
    a real-valued function f is continuous if for all real x and for all positive epsilon œ∑´®®†¥uˆøπåß
    there exists a positive delta such that for all real r,
    |x - r| < delta implies that |f(x) - f(r)| < epsilon.
    Presented here as a theorem is an equivalent, more general definition of a continuous function:
    a real function f is continuous (in the delta-epsilon sense) if and only if the preimage of every open set is open.
  </p>
  <div>
    <a href="/"> Home </a>
  </div>
</div>
