<div class="container">
  <div class="title-container">
    <div class="title"> My Favorite Theorems </div>
  </div>
  <div class="body">
    <div>
      <a href="/continuity"> Definition of continuity in a topological space </a>
    </div>
    <div>
      <a href="/isomorphism"> The Isomorphism Theorems </a>
    </div>
    <div>
      <a > Brouwer Fixed-Point Theorem </a>
    </div>
    <div class="bottom">
      <a href="/about"> About </a>
    </div>
  </div>
</div>
