<div class="container">
  <div class="title-container">
    <div class="title"> My Favorite Theorems </div>
  </div>
  <div class="body">
    <div>
      <a href="/continuity"> Characterization of continuity in a metric space </a>
    </div>
    <div>
      <a href="/quotient"> Universal Property of Quotient Spaces </a>
    </div>
    <div>
      <a href="/isomorphism"> The Isomorphism Theorems </a>
    </div>
    <div>
      <a href="/brouwer"> Brouwer Fixed-Point Theorem </a>
    </div>
    <div class="bottom">
      <a href="/about"> About me </a>
    </div>
  </div>
</div>
