<div class="container">
  <div class="title-container">
    <div class="title"> My Favorite Theorems </div>
  </div>
  <div class="body">
    <div>
      <a href="/continuity"> Definition of continuity in a topological space </a>
    </div>
    <div>
      <a> The Isomorphism Theorems </a>
    </div>
    <div>
      <a> Brouwer Fixed-Point Theorem </a>
    </div>
    <div class="bottom">
      <a href="/about"> About </a>
    </div>
  </div>
</div>

<style type="text/css">
  html, body {
    margin: 0;
    height: 100%;
    /* background-image: url("internet_graph.jpg"); */
    background-color: #ffedb7
  }
  .container {
    margin-left: 175px;
    margin-right: 175px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 20px;
    height: 100%;
    background-color: White;
    /* color: #4f4f4f; */
    font-family: Georgia;
  }

  .title {
    font-size: 32px;
    font-family: "Courier New";
  }

  .body {
    font-size: 17px;
  }

  .title-container {
    padding-bottom: 15px;
    display: flex;
    justify-content: center;
  }

  .bottom {
    position: absolute;
    bottom: 25px;
  }

  a:hover {
    color: #eaa0ff;
  }

</style>
