<div class="container">
  <div class="title-container">
    <div class="title">
      Intermediate value theorem
    </div>
  </div>
  <div class="body">
    <div>
      <p>
        <b>Theorem:</b>
        Let f: [a, b] --> <b>R</b> be continuous.
        If x is in (min(f(a), f(b)), max(f(a), f(b))), then there exists c in (a, b) such that f(c) = x.
        In other words, f attains every value between its endpoints.
      </p>
    </div>
    <div class="bottom">
      <a href="/"> Home </a>
    </div>
  </div>
</div>
