<div class="container">
  <div class="title-container">
    <div class="title">
      The isomorphism theorems for vector spaces
    </div>
  </div>
  <div class="body">
    <div>
      <p>
        Read first about the <a href="/quotient">universal property of quotient spaces</a>.
        It's the engine powering the isomorphism theorems.
      </p>
      <p>
        <b>Theorem (the first isomorphism theorem):</b>
        Let V, W be vector spaces and T: V --> W a linear map.
        Then V/ker(T) is isomorphic to ran(T).
      </p>
      <p>
        <b>Intuition:</b>
        The idea is to trim down V and W until T is a bijection.
        First, to tighten the domain, we quotient V by ker(T), zeroing out everything that T sends to 0.
        Therefore, our new map, call it T', has a trivial kernel and is thus injective.
        Once we restrict the codomain of T' to ran(T) = ran(T'),
        it becomes immediately obvious that we have a surjective map.
      </p>
      <p>
        <b>Proof:</b>
        Note that ker(T) is contained in ker(T),
        and recall the universal property of quotient spaces,
        which states that T lifts to a unique linear map T': V/ker(T) --> W
        and that ker(T') = ker(T)/ker(T) = [0]. Thus T' is injective.
        Now, as above, shrinking the domain to ran(T) yields a surjection, and thus a bijection.
      </p>
      <p>
        <b>Theorem (the second isomorphism theorem):</b>
        Let U, W be subspaces. Then (U + W)/U is isomorphic to W/(U intersect W).
      </p>
      <p>
        <b>Theorem (the third isomorphism theorem):</b>
        Let U be a subspace of W and let W be a subspace of V. Then (V/U)/(W/U) is isomorphic to V/W.
      </p>
    </div>
    <div class="bottom">
      <a href="/"> Home </a>
    </div>
  </div>
</div>
